.login-btn{
  cursor: pointer;
  padding: 0px 10px;
}

.filter-btn {
  color: #39739d;
  margin: 10px;
  cursor: pointer;
}

.search{
  margin: 10px;;
}

.filter-btn.selected{
  background-color: #cae9ff;
}

.filter {
  display: flex;
}

.error-page img{
    height:100vh;
    width:100vw;
}

.error-text {
  position: absolute;
  top: 8px;
  left: 16px;
}

a.link{
  color: #000;
  text-decoration: none;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}