.shimmer{
    background-color: rgb(234, 234, 234);
    margin: 10px;
}

.shimmer-card{
    width: 220px;
    height: 185px;
}

.shimmer.card-img{
    height: 130px;
}

.shimmer.card-content{
    height: 10px;
}

.shimmer-container{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
}